{% extends "base.html" %} {% block content %}

    <div class="main">
        <div class="title">
            <h3 style="text-align: center;">Cardiomyocyte Nuclear Identification</h3>
            <h4 style="text-align: center;">As described in: Deep Learning Identifies Cardiomyocyte Nuclei in Murine
                Tissue with High Precision</h4>
            <h4 style="text-align: center;">Made by&nbsp;Hesham Sadek and MAIA Labs</h4>

        </div>
        <div class="instructions">
            <p>We generated an artificial intelligence (AI) deep learning model that uses image segmentation to predict
                cardiomyocyte nuclei in mouse heart sections without a specific cardiomyocyte nuclear label.1 This tool
                can annotate cardiomyocytes with high sensitivity and specificity (AUC 0.94) using only cardiomyocyte
                structural protein immunostaining and a global nuclear stain.</p>
            <p>To use this model to identify cardiomyocyte nuclei in tissue sections, please follow the instructions
                below. The data that the model generates will include total number of nuclei in the images, total number
                of cardiomyocyte nuclei, and an AI-generated image in which the cardiomyocyte nuclei will be
                identified.</p>
            <ul>
                <li>8 &mu;m thick mouse heart sections</li>
                <li>20x zoom image</li>
                <li>One channel with DAPI stain and one channel with troponin T (TnT) stain<span
                        style="color: #ff0000;"> (tool validated with Thermo Scientific MS-295-P mouse Troponin T antibody)</span>
                </li>
                <li>Jpeg or tiff files only. Upload them to the data directory or specify a directory of your choice.</li>
            </ul>
        </div>

        <div id="uploadDiv">
            <form>
                <label for="fname">Path to Data Dir:</label>
                <input type="text" id="filePath" name="filePath" value="data"><br><br>
                <label for="fname">DAPI Stain File:</label>
                <input type="text" id="DAPIPath" name="DAPIPath"
                       value="5-S1-right-Cre-a-actinin-20x-overlay-stitch_RGB_DAPI.tif"><br><br>
                <label for="lname">TnT Stain File:</label>
                <input type="text" id="TnTPath" name="TnTPath"
                       value="5-S1-right-Cre-a-actinin-20x-overlay-stitch_RGB_FITC.tif"><br><br>
            </form>

            {#        <div class="panel">#}
            {#            <input id="file-upload-DAPI" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg"/>#}
            {#            <label for="file-upload-DAPI" id="file-drag" class="upload-box">#}
            {#                <div id="upload-caption">Upload DAPI</div>#}
            {#                <img id="image-preview" class="hidden"/>#}
            {#            </label>#}
            {#        </div>#}
            {##}
            {#        <div class="panel">#}
            {#            <input id="file-upload-TnT" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg"/>#}
            {#            <label for="file-upload-TnT" id="file-drag" class="upload-box">#}
            {#                <div id="upload-caption">Upload TnT</div>#}
            {#                <img id="image-preview" class="hidden"/>#}
            {#            </label>#}
            {#        </div>#}

            <div style="margin-bottom: 2rem;text-align: center;">
                <input type="button" value="Submit" class="button" onclick="submitPaths();"/>
                <input type="button" value="Clear" class="button" onclick="clearPaths();"/>

            </div>
        </div>

        <div id="resultsDiv" class="hidden">
            <h2 style="text-align: center;">Results </h2>
            <h4 id="cmcount">Total number of nuclei: </h4>
            <h4 id="nucleicount">Total number of myocyte nuclei: </h4>

            <div style="margin-bottom: 2rem; text-align: center;">
                <input type="button" value="Download AI Image" class="button" onclick=""/>
            </div>
        </div>

    </div>




    </div>

{% endblock %}
